.outline-button {
    min-width: 40px;
    width: auto;
    height: 40px;
    letter-spacing: 0.5px;
    line-height: 30px;
    padding: 0 15px 0 15px;
    font-size: 15px;
    background-color: transparent;
    color: black;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px;
    outline: none;

    &:hover {
        background-color: black;
        color: white;
    }
    &.following-btn{
        background-color: transparent;
        color: #01d28e;
        border: 1px solid #01d28e;
        &:hover{
            background-color: #01d28e;
            color: white;
        }
    }
    &.request-btn {
        background-color: transparent;
        color: #c72c41;
        border: 1px solid #c72c41;

        &:hover {
            background-color: #c72c41;
            color: white;
        }
    }
    &.unfollow{
        background-color: transparent;
        color: red;
        border: 1px solid red;

        &:hover {
            background-color: red;
            color: white;
        }
    }
}
.on-notification-box{
     width: 60px;
     letter-spacing: 0.5px;
     padding: 0 15px 0 15px;
     font-size: 12px;
     height: 30px;
     background-color: #1089ff;
     color: white;
     text-transform: uppercase;
     font-family: 'Open Sans Condensed';
     font-weight: bolder;
     cursor: pointer;
     display: flex;
     justify-content: center;
     outline: none;
     border: none;
     border-radius: 8px;
     margin-right: 5px;

     &:hover {
         background-color: #0075f6;
     }
     &.cancel{
        background-color: transparent;
        color: red;
        border: 1px solid red;
        &:hover{
            background-color: red;
            color: white;
        }
     }
}
