.card-container {
    background: #fff;
    max-width: 40vw;
    margin: 60px auto;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05),
        0 15px 40px rgba(166, 173, 201, .2);

    .header-container {
        display: flex;
        padding: 10px;

        .header {
            width: 30%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 18px;
        }

        .dots {
            margin-left: auto;
            color: grey;
            cursor: pointer;
        }
    }

    .footer-container {
        padding: 10px;
        display: flex;
        flex-direction: column;
        text-align: left;

        .interaction-container {
            font-size: 24px;

            .interaction-icon {
                margin: 0 5px 5px 5px;
                transform: translateZ(0);
                transition: transform 0.25s ease-out;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}