.card-container {
    background: #fff;
    max-width: 40vw;
    margin: 60px auto;
    padding-top: 10px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05),
        0 15px 40px rgba(166, 173, 201, .2);

    .header-container {
        margin: auto 20px;
        .header {
            display: flex;
            .dots{
                color: grey;
                cursor: pointer;
            }
        }
    }
    .footer-container{
        padding: 10px;
        display: flex;
        flex-direction: column;
        text-align: left;
        .interaction-container{
            cursor: pointer;
            font-size: 24px;
            .interaction-icon{
                margin: 0 5px 5px 5px;
            }
        }
    }
}