.profile-container {
    margin-top: 30px;
}
.bio-container {
    padding: 30px;
    display: flex;
    background: #fff;
    width: 20vw;
    height: 20vh;
    margin: 60px auto;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05),
        0 15px 40px rgba(166, 173, 201, .2);
    border-radius: 10px;
}


