.bio-container {
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 20vw;
    height: 20vh;
    margin: 60px auto;
    border: 1px solid #e5dfdf;
    border-radius: 10px;
}