.add {
    position: absolute;
    font-size: 60px;
    right: -10vw;
    margin-top: 90vh;
    cursor: pointer;

    &:hover {
        color: #29a19c;
    }
}

.caption-container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    .caption-box{
        padding: 12px;
        border-radius: 10px;
        outline: none;
    }
    .post-btn-container {
        margin-top: 20px;
    }
}