.regist-form {
    width: 30vw;
    padding: 10px;
    background-color: white;
    margin: 10vh auto 0;

    .regist-form-container {
        padding: 30px 50px;
        text-align: center;

        .social-login {
            display: flex;
            padding: 20px;
            justify-content: space-between;
        }

        .button {
            display: flex;
            flex-direction: column;
        }
    }

}