.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: white;
    .brand{
        font-family: 'Playball',cursive;
        font-size: 32px;
        margin: auto;
        padding-left: 50px;
        color: black;
        text-decoration: none;
    }
    .options {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 50px;
        .option {
            padding: 10px 15px;
            font-size: 32px;
            color: black;
            text-decoration: none;
        }
        .logout{
            &:hover{
                color: #f09595;
            }
        }
    }
}