.profile-follower-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
    .profile-follower-title{
        font-size: 32px;
        margin-bottom: 10px;
    }
    .profile-follower-count{
        font-size: 24px;
    }
}